<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='./style.css' />
  </head>
  <%- include('./header') %>
  <body>
    <% if (clent[0] === 1) { %>
      <p>Sucessfully added</p>
    <% } else { %>
      <p>Failed</p>
    <% } %>
    </ul>

    <a href="/add"><button>Add</button></a>
  </body>
</html>
